@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}

@theme {
    --color-soma-lightgreen: #38523b26;
    --color-soma-green: #38523b;
    --font-sans: "Merriweather", sans-serif;
}

@layer base {
    body {
        @apply text-soma-green;
    }
}

[x-cloak] {
    display: none !important;
}
